@model IEnumerable<BoolkyBook_app_web.Models.Category>


<div class="container p-3">
    <div class="row ">

        <div class="col-6 pt-4">
            <h4 class="text-primary">la liste des Catégories </h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categorie" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> &nbsp; Category </a>
        </div>
        <hr />
    </div>



    @if (Model.Count() > 0)
    {
        <table table class=" table table-bordered table-striped" style="100%">
            <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Display order</th>
                    <th>Create Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr class="text-center">
                        <td>@obj.Name</td>
                        <td>@obj.DisplayOrder</td>
                        <td>@obj.CreatedDateTime</td>
                        <td>
                            <div class="w-75 btn btn-group" role="group">
                                <a asp-controller="Categorie" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> </a>
                                <a asp-controller="Categorie" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i> </a>

                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }

</div>